@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);

    --color-grey-50: hsl(220, 38%, 97%);
    --color-grey-50: hsl(219, 13%, 44%);

    --color-blue-50: hsl(225, 100%, 96%);
    --color-blue-100: hsl(220, 50%, 95%);
    --color-blue-300: hsl(216, 47%, 78%);
    --color-blue-500: hsl(223, 100%, 59%);
    --color-blue-850: hsl(215, 27%, 32%);
    --color-blue-900: hsl(216, 25%, 25%);
    --color-blue-950: hsl(214, 24%, 23%);

    --color-green-100: hsl(151, 88%, 94%);
    --color-green-500: hsl(151, 68%, 52%);

    --color-purple-100: hsl(278, 100%, 95%);
    --color-purple-600: hsl(277, 91%, 56%);

    --color-orange-50: hsl(27, 100%, 96%);
    --color-orange-500: hsl(22, 100%, 60%);

    --color-red-500: hsl(0, 82%, 63%);
}

.bg-primary {
    background-color: var(--color-grey-50);
    background-image: url("assets/images/pattern-background-desktop-light.svg");
}

.dark {
    .bg-primary {
        background-color: var(--color-blue-900);
        background-image: url("assets/images/pattern-background-desktop-dark.svg");
    }
}
