@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300 400 500;
    src: url("assets/fonts/Rubik-VariableFont_wght.ttf")
        format("truetype-variations");
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 400;
    src: url("assets/fonts/Rubik-Italic-VariableFont_wght.ttf")
        format("truetype-variations");
}

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);

    --color-grey-50: hsl(220, 38%, 97%);
    --color-grey-500: hsl(219, 13%, 44%);

    --color-blue-50: hsl(225, 100%, 96%);
    --color-blue-100: hsl(220, 50%, 95%);
    --color-blue-300: hsl(216, 47%, 78%);
    --color-blue-500: hsl(223, 100%, 59%);
    --color-blue-850: hsl(215, 27%, 32%);
    --color-blue-900: hsl(216, 25%, 25%);
    --color-blue-950: hsl(214, 24%, 23%);

    --color-green-100: hsl(151, 88%, 94%);
    --color-green-500: hsl(151, 68%, 52%);

    --color-purple-100: hsl(278, 100%, 95%);
    --color-purple-600: hsl(277, 91%, 56%);

    --color-orange-50: hsl(27, 100%, 96%);
    --color-orange-500: hsl(22, 100%, 60%);

    --color-red-500: hsl(0, 82%, 63%);

    /*Use  custom breakpoints*/
    --breakpoint-*: initial;
    --breakpoint-mobile: 23.4375rem;
    --breakpoint-tablet: 48rem;
    --breakpoint-desktop: 90rem;
}

@layer base {
    html {
        font-family: "Rubik", sans-serif;
    }
}

.bg-svg {
    background-image: url("assets/images/pattern-background-mobile-light.svg");
    background-repeat: no-repeat;
}

:root[data-theme="dark"] .bg-svg,
.dark .bg-svg {
    background-image: url("assets/images/pattern-background-mobile-dark.svg");
}

@media (min-width: 768px) {
    .bg-svg {
        background-image: url("assets/images/pattern-background-tablet-light.svg");
    }

    :root[data-them="dark"] .bg-svg,
    .dark .bg-svg {
        background-image: url("assets/images/pattern-background-tablet-dark.svg");
    }
}

@media (min-width: 1440px) {
    .bg-svg {
        background-image: url("assets/images/pattern-background-desktop-light.svg");
    }

    :root[data-them="dark"] .bg-svg,
    .dark .bg-svg {
        background-image: url("assets/images/pattern-background-desktop-dark.svg");
    }
}

button {
    cursor: pointer;
}

/*limitation with tailwind merge and by extension cn from shadcn*/

@utility preset-1-mobile {
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 100%;
}

@utility preset-2-medium-mobile {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 100%;
}

@utility preset-2-light-mobile {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 100%;
}

@utility preset-3-mobile {
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: 500;
}

@utility preset-4-mobile {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 100%;
}

@utility preset-5-mobile {
    font-size: 0.875rem;
    line-height: 150%;
}

@utility preset-1 {
    font-size: 9rem;
    font-weight: 500;
    line-height: 100%;
}

@utility preset-2-medium {
    font-size: 4rem;
    font-weight: 500;
    line-height: 100%;
}

@utility preset-2-light {
    font-size: 4rem;
    font-weight: 300;
    line-height: 100%;
}

@utility preset-3 {
    font-size: 2.25rem;
    line-height: 120%;
    font-weight: 500;
}

@utility preset-4 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 100%;
}

@utility preset-5-medium {
    font-size: 1.5rem;
    line-height: 150%;
    font-weight: 500;
}

@utility preset-5-regular {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
}

@utility preset-6 {
    font-size: 1.125rem;
    line-height: 150%;
}

@layer components {
    .white-overlay {
        background-image: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        );
    }
}
